html {
	height: 100%;
}

body {
	font-family: "Sans Serif";
	text-align: center;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	color: lightgray;
        font-size: 150%;

	background-color: black;
	background-image: no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
}

div.contents {
	background-color: rgba(0,0,0,0.8);
	padding-bottom: 1ex;
}

[name='clock'] {
	font-size: 650%;
	white-space: nowrap;
}

.pm {
	font-size: smaller;
}

[name='weather-summary'] {
	font-size: 200%;
	margin-bottom: 0.5em;
}

[name='weather-summary']::first-line {
	font-size: larger;
}

div.weather-day {
	color: paleturquoise;
	margin: 0.5em;
}

[name='weather-info'] {
	font-size: 270%;
	white-space: nowrap;
}

[name='weather-summary-2'] {
	font-size: 150%;
	margin: 0.5em;
	color: ghostwhite;
}

[name='bus-departures'] {
	font-size: 280%;
        list-style: none;
        margin: 0em;
	white-space: nowrap;
        padding-left: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.destination { font-weight: lighter; font-size: smaller; display: none }

.gone { color: gray; }
.hurry { color: yellow; }
.ok { color: greenyellow; }
.soon { color: lightgreen; }
.wait { color: inherit; }


hr {
	background: rgba(0,0,0,0);
	border: 0;
	height: 12px;
	margin-top: 0em;
	margin-bottom: 0em;
}
